<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/css/carrito.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <!-- PARA LA LOGICA DE LOS BOTONES CON JS --> <!-- NO LOGRE QUE FUNCIONE AL 100 YA QUE ME AUNQUE FUNCIONABA ME TIRABA ERORRES -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
    <script src="/js/carrito-buttons.js"></script> -->
    
    <!--  -->
  </head>
  <body>
    <!-- Include del encabezado -->
    <%- include("./partials/header", { titulo: "Carrito de Compras" }) %>
    <main>
      <h1 class="title">Tu Carrito de Compras</h1>
      <div class="cart">
        <div class="cartDetail">
          <% carritoItems.forEach(item => { %> <% const product =
          products.find(p => p.id === item.product_id); %>
          <div class="productName">
          <p><%= product.name %></p>
        </div>
          <article class="allDetailsCart">
           
            <div class="detailItems">
              

              <!-- <div class="cartItems"> -->
              <p>Cantidad :<%= item.cantidad %></p>
              <p>Precio Unitario :<%= product.price %></p>
              <p>Subtotal :<%= item.cantidad * product.price %></p>
              <!-- </div> -->
            </div>

            <div class="buttons">
              <form action="/products/compras/agregar/<%= product.id %>" method="POST" enctype="multipart/form-data">
              <button type="submit" class="buttonCart">Add 1</button>
            </form>
            <form action="/products/compras/eliminar/<%= product.id %>?_method=DELETE" method="POST">
              <button type="submit" class="buttonCart">Delete 1</button>
          </form>
              <form action="/products/compras/delete/<%= product.id %>?_method=DELETE" method="POST">
                  <button type="submit" class="buttonCart">Delete Product</button>
              </form>
          </div>
          </article>

          
          <% }); %>
        </div>
      </div>
    </main>
  </body>

</html>




