<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=products.name%> Detail</title>
</head>
<body>
    
    <div>
    <%=products.name%>
</div>
<div>
    <%=products.price%>
</div>
<div>
    <%=products.discount%>
</div>
<div>
    <%=products.description%>
</div>
<div>
    <img src="/images/<%=products.image%>" alt="">
</div>

<a href="/products/edit/<%=products.id%>">Edit Product</a>
<a href="/products/delete/<%= products.id %>">Delete</a>
</body>
</html>